---
# Run docker role first to ensure all handlers are triggered
- name: Docker
  hosts: all
  roles:
    - role: ome.docker


# Install this role
- hosts: all

  pre_tasks:

    - name: Workaround to get host IP inside docker
      shell: hostname -I | cut -d' ' -f1
      register: hostname_ip
      check_mode: false
      changed_when: false
      tags:
        # Ignore [306] Shells that use pipes should set the pipefail option
        - skip_ansible_lint

  roles:
    - role: ansible-role-prometheus
      prometheus_alertmanager_slack_webhook: SLACK_WEBHOOK
      prometheus_alertmanager_slack_channel: '#general'
      prometheus_static_targets:
        - localhost:9090
      prometheus_http_2xx_internal_targets:
        - http://idr.openmicroscopy.org/about/
      prometheus_http_2xx_external_targets:
        - https://idr.openmicroscopy.org/about/
      prometheus_rsync_banner_targets:
        - idr.openmicroscopy.org:873
      prometheus_targets:
        - hosts: ["{{ hostname_ip.stdout }}"]
          port: 9100
          jobname: nodes
          scrape_interval: 5s
        - hosts: ["{{ hostname_ip.stdout }}"]
          port: 54321
          jobname: fake-metrics
          scrape_interval: 5s
          metrics_path: /alternative-metrics
      prometheus_additional_rules_template: example-rules-yml.j2


# Setup some real and fake metrics using nginx
- hosts: all

  roles:
    - role: ome.prometheus_node

  tasks:

    - name: create fake metric file
      become: true
      copy:
        content: fake_metric_value 5
        dest: /srv/alternative-metrics

    - name: fake metric server
      become: true
      docker_container:
        image: nginx
        name: fake-metrics
        published_ports:
          - 54321:80
        state: started
        volumes:
          - /srv/:/usr/share/nginx/html/:ro
