# Prometheus Alertmanager configuration
# Based on https://www.robustperception.io/using-slack-with-the-alertmanager/
# https://prometheus.io/docs/alerting/configuration/#slack-receiver-slack_config
# See https://prometheus.io/docs/alerting/configuration/ for alternatives


route:
 group_by: [cluster]
 # If an alert isn't caught by a route, send it slack.
 receiver: slack_general
 routes:
  # Send severity=slack alerts to slack.
  - match:
      severity: slack
    receiver: slack_general

receivers:
- name: slack_general
  slack_configs:
  - api_url:  https://hooks.slack.com/services/{{ prometheus_alertmanager_slack_webhook }}
    channel: {{ prometheus_alertmanager_slack_channel }}
    # channel: '#general'
