[Unit]
Description=Prometheus Server

[Service]
User=prometheus
ExecStart=/opt/prometheus/prometheus/prometheus \
    -config.file /etc/prometheus/prometheus.yml \
{% if 'alertmanager' in prometheus_components %}
    -alertmanager.url=http://localhost:9093 \
{% endif %}

WorkingDirectory=/var/prometheus
