[Unit]
Description=Prometheus Node Exporter

[Service]
User=prometheus
ExecStart=/opt/prometheus/node_exporter/node_exporter
#WorkingDirectory=/var/prometheus-node-exporter
